@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500, 700;
  font-size: 16px;
  
}

.App-container{
  height: 100%;
  display: flex;
  background-color: hsl(202, 86%, 94%);
  padding:150px;
}

.background-container{
  display: flex;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.left-container, .right-container {
  display: flex;
  width: 420px;
  min-width: 420px;
  flex-direction: column;
  justify-content: top;
  height: auto;
}

.left-container {
  flex: 1;
  background-color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 600;
  align-items:start;
  padding: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: hsl(202, 55%, 16%);
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.heading p {
  margin-top: 0;
}

.heading a{
  margin-top: 10px;
  font-size: 16px;
  color: hsl(200, 24%, 40%);
}

.mortgage-inputs {
  display: flex;
  flex-direction: column;
}

.amount-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field {
  height: 45px;
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 6px;
}
 
.input-field:hover{
  cursor: pointer;
}
 
.input-field:focus{
  border: 2px solid hsl(61, 70%, 52%);
}

.input-field.amount {  
  background: linear-gradient(to right, hsl(202, 86%, 94%) 50px, transparent 50px);
  font-family: 'Plus Jakarta Sans';
  font-size: 17px;
  font-weight: bold;
  color: hsl(202, 55%, 16%);
  padding-left: 70px;
  margin-top: 5px;
}

.pound {
  position: relative;
  left: 18px;
  top: -37px;
  font-size: 20px;
  color: hsl(200, 24%, 40%);
  width: 50px;
}
.pound.error{
  color: white;
}

.input-field.amount:focus{
  background: linear-gradient(to right, hsl(61, 70%, 52%) 50px, transparent 50px);
}
.input-field.amount:focus + .pound {
  color: hsl(202, 55%, 16%);
}

.radio-name.interest {
  margin-bottom: 20px;
}

.input-field.error .error-validation,
.radio-name.error .error-validation {
  display: block; /* puts the error message as a block with the input fields */
}

.input-field.error{  
  background: linear-gradient(to right, hsl(4, 69%, 50%) 50px, transparent 50px);
  border-color: hsl(4, 69%, 50%);
}

.inline-input-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.inline-input + .error-validation {
  display: block; /* puts the error message as a block with the input fields */
}
.inline-input + .error-validation-term {
  display: block;
}

.error-validation {
  color: hsl(4, 69%, 50%);
  font-size: 13px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.error-validation-term{
  color: hsl(4, 69%, 50%);
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-field.inline {
  color:hsl(202, 55%, 16%); 
  font-family: 'Plus Jakarta Sans';
  font-size: 17px;
  font-weight: bold;
  padding-left: 15px;
  width: 91%;
  margin-top: 5px;  
}

.input-field.term {
  background: linear-gradient(to left, hsl(202, 86%, 94%) 70px, transparent 50px);
}

.input-field.rate {
  background: linear-gradient(to left, hsl(202, 86%, 94%) 50px, transparent 50px);
}

.input-field.term:focus {
  background: linear-gradient(to left, hsl(61, 70%, 52%) 70px, transparent 50px);
}
.input-field.rate:focus {
  background: linear-gradient(to left, hsl(61, 70%, 52%) 50px, transparent 50px); 
}

.input-field.term.error{
  background: linear-gradient(to left, hsl(4, 69%, 50%) 70px, transparent 50px);
}

.input-field.rate.error{
  background: linear-gradient(to left, hsl(4, 69%, 50%) 50px, transparent 50px);
}

.input-field.term:focus + .years,
.input-field.rate:focus + .porcentage{
  color:hsl(202, 55%, 16%);
}

.inline-wrapper{
  position: relative;
}

.years {
  position: absolute;
  right: 0;
  transform: translateY(-37px);
  font-size: 17px;
  color: hsl(200, 24%, 40%);
  width: 50px;
}

.porcentage {
  position: absolute;
  right:-10%;
  transform: translateY(-35px);
  font-size: 17px;
  font-weight: bold;
  color: hsl(200, 24%, 40%);
  width: 50px;
}

.years.error {
  color: white;
}

.porcentage.error {
  color: white;
}

.mortgage-inputs label {
  font-size: 16px;
  color: hsl(200, 24%, 40%);
  margin-bottom: 10px;
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 30px;
}

.radio-container label {
  font-size: 16px;
  color:hsl(200, 24%, 40%);
}

.radio-input {
  transform: scale(1.25);
  margin: 15px;
}

.radio-name {
  display: flex;
  align-items: center;
  font-size: 19px;
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 6px;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
.radio-name:hover{
  cursor: pointer;
}
.radio-name.active{
  border: 2px solid hsl(61, 70%, 52%);
  background-color: hsl(61, 55%, 85%);
  color: hsl(202, 55%, 16%);
}

button {
  height: 55px;
  width: 300px;
  background-color: hsl(61, 70%, 52%);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 30px;
  padding-left: 35px;
  color: hsl(202, 55%, 16%);
  font-size: 17px;
  font-weight: 600;
}

button:hover{
  cursor: pointer;
}

.calculator-img {
  margin-right: 10px;
}

/*-------- Right Container ------------------------------------------------------------*/

.right-container {
  flex: 1;  
  background-color: hsl(202, 55%, 16%);
  background-repeat: no-repeat;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 100px;
  padding: 40px;

  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;    /* Center content vertically */
}

.initial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-text{
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.bottom-text{
  text-align: center;
  color: hsl(200, 26%, 54%);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin: 30px;
}

.result-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  color: white;
  margin-top: -130px;
}

.result-container h2{
  font-size: 20px;
}

.result-container p{
  font-size: 14px;
  color: hsl(200, 26%, 54%);
  font-weight: 500;
  line-height: 1.5;
}

.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  background-color: hsl(202, 50%, 12%);
  padding: 20px;
  margin-top: 20px;
  box-shadow:0 -4px 0 hsl(61, 70%, 52%, 100%);
  border-radius: 8px;
}

.your-repayment{
  color:hsl(200, 26%, 54%);
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.monthly-value{
  color: hsl(61, 70%, 52%);
  font-size: 40px;
}

.payment-container hr{
  width: 100%;
  border: none;
  height: 1px;
  background-color: hsl(200, 26%, 54%);
  margin-top: 30px;
  margin-bottom: 30px;
}

.total-value{
  margin-bottom: 20px;
}

/*------- Phone version -----------------------------------------*/

@media (max-width: 768px) {
  .App-container {
    flex-direction: column; /* Stack the containers vertically */
    padding: 0;
    margin: 0;
  }

  .background-container {
    flex-direction: column;    
    border-radius: 0 0 0 0;
  }

  .left-container, .right-container {
    flex: none;
    width: auto; 
    padding: 20px; 
    margin: 0;
    border: none;
    border-radius: 0 0 0 0;
  }

  .left-container {
    background-color: hsl(0, 0%, 100%);
    font-size: 18px; 
    display: block;
  }

  .right-container {
    background-color: hsl(202, 55%, 16%); 
  }

  .amount-container{
    width: 100%;
  }

  .inline-input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input-field.inline{
    width: 96%;
  }

  .input-field.rate,
  .input-field.term{
    margin-top: 12px;
  }


  .years{
    right: 0px;
    top: 65px;
  }

  .porcentage{
    right: -25px;
    top: 65px;
  }

  .heading {
    display: flex;
    flex-direction: column; /* Alinha verticalmente */
    align-items: flex-start; /* Alinha à esquerda no container */
    width: 100%;
  }

  .heading p {
    font-size: 20px; 
  }

  .heading a {
    font-size: 14px;
    margin: 0 0 10px 0; 
  }

  button {
    
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .result-container{
    margin-top: 20px;
  }

  .calculator-img {
    margin-right: 5px; 
  }

  .error-validation {
    font-size: 12px; 
  }

  .error-validation-term{
    font-size: 12px;
  }

  .radio-container {
    margin-top: 20px;
    width: 100%; 
  }

  .radio-name {
    font-size: 16px;
    height: 45px;
    width: 100%; 
  }

  .radio-name.active {
    border: 2px solid hsl(61, 70%, 52%);
    background-color: hsl(61, 55%, 85%);
    color: hsl(202, 55%, 16%);
  }

  .result-container h2 {
    font-size: 18px;
  }

  .result-container p {
    font-size: 12px; 
  }

  .payment-container {
    padding: 15px;
  }

  .monthly-value {
    font-size: 32px;
  }

  .total-value {
    font-size: 18px;
  }
}