@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500, 700;
  font-size: 16px;
}

.App-container{
  height: auto;
  display: flex;
  background-color: hsl(202, 86%, 94%);
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.left-container, .right-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: auto;
}

.left-container {
  flex: 1;
  background-color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 600;
  align-items:start;
  padding-left: 30px;
  padding-right: 120px;
  margin-right: -80px; /*so the left background can fill the empty space left by the right container*/
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: hsl(202, 55%, 16%);
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.heading a{
  font-size: 16px;
  color: hsl(200, 24%, 40%);
  margin-left: 65px;
}

.mortgage-inputs {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}


.input-field {
  height: 50px;
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 6px;
  outline: none; /* Removes default focus outline */
 }
 
 .input-field:hover{
   cursor: pointer;
 }
 
 .input-field:focus{
   border: 2px solid hsl(61, 70%, 52%);
 }

 .input-field.error {
  border-color: hsl(4, 69%, 50%); /* Optional: Adjusts the border color to match */
}

.amount-container {
  display: flex;
  flex-direction: column;
}

.input-field.amount {  
  background: linear-gradient(to right, hsl(202, 86%, 94%) 50px, transparent 50px);
  font-family: 'Plus Jakarta Sans';
  font-size: 17px;
  font-weight: bold;
  color: hsl(202, 55%, 16%);
  padding-left: 70px;
  margin-top: 5px;
}

.pound {
  position: relative;
  left: 20px;
  top: -40px;
  font-size: 20px;
  color: hsl(200, 24%, 40%);
  width: 50px;
}
.pound.error{
  color: white;
}

#amount:focus{
  background: linear-gradient(to right, hsl(61, 70%, 52%) 50px, transparent 50px);
}
#amount:focus + .pound {
  color: hsl(202, 55%, 16%);
}

.radio-name.interest {
  margin-bottom: 20px;
}

.input-field.error .error-validation,
.radio-name.error .error-validation {
  display: block; /* puts the error message as a block with the input fields */
}

.input-field.error{  
  background: linear-gradient(to right, hsl(4, 69%, 50%) 50px, transparent 50px);
}

.inline-input-container {
  display: flex;
  justify-content: space-between;
}

.inline-input{
  width: 45%;
  margin-right: 5px;
}

.inline-input .error-validation {
  display: block; /* puts the error message as a block with the input fields */
}

.error-validation-term{
  display: block;
  color: hsl(4, 69%, 50%);
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-field.inline {
  color:hsl(202, 55%, 16%); 
  font-family: 'Plus Jakarta Sans';
  font-size: 17px;
  font-weight: bold;
  padding-left: 15px;
  margin-top: 5px;  
}

.input-field.term {
  background: linear-gradient(to left, hsl(202, 86%, 94%) 70px, transparent 50px);
}

.input-field.rate {
  background: linear-gradient(to left, hsl(202, 86%, 94%) 50px, transparent 50px);
}

.input-field.term:focus {
  background: linear-gradient(to left, hsl(61, 70%, 52%) 70px, transparent 50px);
}
.input-field.rate:focus {
  background: linear-gradient(to left, hsl(61, 70%, 52%) 50px, transparent 50px); 
}

.input-field.term.error{
  background: linear-gradient(to left, hsl(4, 69%, 50%) 70px, transparent 50px);
}

.input-field.rate.error{
  background: linear-gradient(to left, hsl(4, 69%, 50%) 50px, transparent 50px);
}

.input-field.term:focus + .years,
.input-field.rate:focus + .porcentage{
  color:hsl(202, 55%, 16%);
}

.years {
  display: block;
  position: relative;
  left: 170px;
  top: 0px;
  margin-top: -40px;
  font-size: 17px;
  color: hsl(200, 24%, 40%);
  width: 50px;
}

.porcentage {
  display: block;
  position: relative;
  left: 190px;
  top: -35px;
  font-size: 17px;
  color: hsl(200, 24%, 40%);
  width: 50px;
}

.years.error {
  color: white;
}

.porcentage.error {
  color: white;
}

.mortgage-inputs label {
  font-size: 16px;
  color: hsl(200, 24%, 40%);
  margin-bottom: 10px;
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.radio-container label {
  font-size: 16px;
  color:hsl(200, 24%, 40%);
}

.radio-name {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 19px;
  border: .5px solid hsl(200, 24%, 40%);
  border-radius: 6px;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.radio-name:hover{
  cursor: pointer;
}
.radio-name.active{
  border: 2px solid hsl(61, 70%, 52%);
  background-color: hsl(61, 55%, 85%);
  color: hsl(202, 55%, 16%);
}

button {
  height: 55px;
  width: 300px;
  background-color: hsl(61, 70%, 52%);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 30px;
  padding-left: 35px;
  color: hsl(202, 55%, 16%);
  font-size: 17px;
  font-weight: 600;
}

button:hover{
  cursor: pointer;
}

.calculator-img {
  margin-right: 10px;
}

.error-validation {
  color: hsl(4, 69%, 50%);
  font-size: 13px;
  margin-top: -20px;
  margin-bottom: 10px;
}

/*-------- Right Container ------------------------------------------------------------*/

.right-container {
  flex: 1.1;  
  background-color: hsl(202, 55%, 16%);
  background-repeat: no-repeat;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 100px;
  padding: 40px;

  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;    /* Center content vertically */
}

.initial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-text{
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.bottom-text{
  text-align: center;
  color: hsl(200, 26%, 54%);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin: 30px;
}

.result-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  color: white;
  margin-top: -130px;
}

.result-container h2{
  font-size: 20px;
}

.result-container p{
  font-size: 14px;
  color: hsl(200, 26%, 54%);
  font-weight: 500;
  line-height: 1.5;
}

.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  background-color: hsl(202, 50%, 12%);
  padding: 20px;
  margin-top: 20px;
  
  box-shadow:0 -4px 0 hsl(61, 70%, 52%, 100%);
  border-radius: 8px;
}

.your-repayment{
  color:hsl(200, 26%, 54%);
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.monthly-value{
  color: hsl(61, 70%, 52%);
  font-size: 40px;
}

.payment-container hr{
  width: 100%;
  border: none;
  height: 1px;
  background-color: hsl(200, 26%, 54%);
  margin-top: 30px;
  margin-bottom: 30px;
}

.total-value{
  margin-bottom: 20px;
}