@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500, 700;
  font-size: 16px;
}

.App-container{
  height: 100vh;
  display: flex;
  background-color: hsl(202, 86%, 94%);
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.left-container, .right-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: auto;
}

.left-container {
  flex: 1;
  background-color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 600;
  align-items:start;
  padding-left: 30px;
  padding-right: 120px;
  margin-right: -80px; /*so the left background can fill the empty space left by the right container*/
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: hsl(202, 55%, 16%);
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.heading a{
  font-size: 16px;
  color: hsl(200, 24%, 40%);
  margin-left: 65px;
}

.mortgage-inputs {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.amount-container {
  display: flex;
  flex-direction: column;
}

#amount {  
  background: linear-gradient(to right, hsl(202, 86%, 94%) 50px, transparent 50px);
  font-size: 20px;
  color: hsl(202, 55%, 16%);
  padding-left: 70px;
  margin-top: 5px;
}

.pound {
  position: relative;
  left: 20px;
  top: -40px;
  font-size: 20px;
  color: hsl(200, 24%, 40%);
  width: 50px;
}

#amount:focus{
  background: linear-gradient(to right, hsl(61, 70%, 52%) 50px, transparent 50px);
}
#amount:focus + .pound {
  color: hsl(202, 55%, 16%);
}

#amount .error-validation{
  background: linear-gradient(to right, hsl(4, 69%, 50%), 50px, transparent 50px);
}

.input-field {
 height: 50px;
 border: 1px solid hsl(200, 24%, 40%);
 border-radius: 6px;
 outline: none; /* Removes default focus outline */
}

.input-field:hover{
  cursor: pointer;
}

.input-field:focus{
  border: 2px solid hsl(61, 70%, 52%);
}

.radio-name.interest {
  margin-bottom: 20px;
}

.input-field.error + .error-validation,
.radio-name.error + .error-validation {
  display: block; /* Take up space when visible */
}

.inline-input-container {
  display: flex;
  justify-content: space-between;
}

.inline-input{
  width: 45%;
}

.inline-input label,
.inline-input input {
  display: block;
  width: 100%;
}

#term {
  background: linear-gradient(to left, hsl(202, 86%, 94%) 70px, transparent 50px);
  color:hsl(202, 55%, 16%); 
  font-size: 16px;
  padding-left: 10px;
  margin-top: 5px;  
}

#term:focus {
  background: linear-gradient(to left, hsl(61, 70%, 52%) 70px, transparent 50px);
}
#term:focus + .years{
  color:hsl(202, 55%, 16%);
}

.years {
  position: relative;
  left: 130px;
  top: -45px;
  margin-top: -40px;
  font-size: 17px;
  color: hsl(200, 24%, 40%);
  width: 50px;
}

#rate {
  background: linear-gradient(to left, hsl(202, 86%, 94%) 50px, transparent 50px);
  color:hsl(202, 55%, 16%);
  font-size: 16px;
  padding-left: 10px;    
  margin-top: 5px; 
}

#rate:focus {
  background: linear-gradient(to left, hsl(61, 70%, 52%) 50px, transparent 50px); 
}
#rate:focus + .porcentage{ 
  color:hsl(202, 55%, 16%);
}

#rate .error-validation {
  background: linear-gradient(to left, hsl(61, 70%, 52%) 50px, transparent 50px);
}

.porcentage {
  position: relative;
  left: 150px;
  top: -45px;
  font-size: 17px;
  color: hsl(200, 24%, 40%);
  width: 50px;
}

.mortgage-inputs label {
  font-size: 16px;
  color: hsl(200, 24%, 40%);
  margin-bottom: 10px;
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.radio-container label {
  font-size: 16px;
  color:hsl(200, 24%, 40%);
}

.radio-name {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 19px;
  border: .5px solid hsl(200, 24%, 40%);
  border-radius: 6px;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.radio-name:hover{
  cursor: pointer;
}
.radio-name.active{
  border: 2px solid hsl(61, 70%, 52%);
  background-color: hsl(61, 55%, 85%);
  color: hsl(202, 55%, 16%);
}

button {
  height: 55px;
  width: 300px;
  background-color: hsl(61, 70%, 52%);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 30px;
  border: none;
  border-radius: 30px;
  padding-left: 35px;
  color: hsl(202, 55%, 16%);
  font-size: 17px;
  font-weight: 600;
}

button:hover{
  cursor: pointer;
}

.calculator-img {
  margin-right: 10px;
}

.error-validation {
  color: hsl(4, 69%, 50%);
  font-size: 13px;
  margin-top: -20px;
  margin-bottom: 10px;
}

/*-------- Right Container ---------*/

.right-container {
  flex: 1.1;  
  background-color: hsl(202, 55%, 16%);
  background-repeat: no-repeat;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 100px;
  padding: 40px;
}

.initial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-text{
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.bottom-text{
  text-align: center;
  color: hsl(200, 26%, 54%);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin: 30px;
}

.result-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  color: white;
}
.result-container p{
  font-size: 16px;
  color: hsl(200, 26%, 54%);
}

.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  background-color: hsl(202, 50%, 12%);
  border-color: hsl(61, 70%, 52%);
  border-top: 3px;
  padding: 20px;
  margin-top: 20px;
}

.your-repayment{
  color:hsl(200, 26%, 54%);
  font-size: 12px;
}
.monthly-value{
  color: hsl(61, 70%, 52%);
  font-size: 30px;
}
